<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <meta charset="UTF-8">
  <title th:text="#{change.pwd.title}">비밀번호 변경</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/edit/changePassword}" th:object="${command}" method="post">
    <p>
      <label th:for="currentPassword">
        <span th:text="#{currentPassword}">현재 비밀번호:</span><br>
        <input type="password" th:field="*{currentPassword}"/>
        <span th:errors="*{currentPassword}"></span>
      </label>
    </p>
    <p>
      <label th:for="newPassword">
        <span th:text="#{newPassword}">새 비밀번호:</span><br>
        <input type="password" th:field="*{newPassword}"/>
        <span th:errors="*{newPassword}"></span>
      </label>
    </p>
    <input type="submit" th:value="#{change.btn}"/>
  </form>
</div>
</body>
</html>
