<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{member.register}">회원 등록</title>
</head>
<body>
<div layout:fragment="content">
<h2 th:text="#{term}">약관</h2>
<p>약관 내용</p>
    <form action="/sample/register" method="post" th:action="@{/sample/register}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <label>
        <input type="checkbox" name="agree" value="true">
        <span th:text="#{term.agree}">동의합니다</span>
    </label>
    <input type="submit" th:value="#{next.btn}" />
</form>
</div>
</body>

</html>
