<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/videos.css}"/>
</head>

<body>
<div layout:fragment="content">
    <figure>
        <video src="/video/EllinForest.mp4" autoplay muted loop style="width: 100%; height: auto; object-fit: cover;"></video>
        <div class="inner">
        </div>
    </figure>
</div>
</body>
</html>
